.lowercase {
    text-transform: lowercase;
}
        
.uppercase {
    text-transform: uppercase;
}
        
.capitalize {
    text-transform: capitalize;
}
.highlight {
    font-weight: bold;
}
/*note font style*/
        
.warning {
            color: red;
    font-weight: bolder;
}
        
p.note {
    font-weight: bold;
    font-style: italic;
}
/*TABLE STYLING*/
        
.table {
    display: table;
}
        
.table-heading {
    display: table-row;
    font-weight: bold;
}
        
.table-row {
    display: table-row;
}
        
.table-cell {
    display: table-cell;
    padding-left: 5px;
    padding-right: 5px;
}

input[type='radio'] {
      width: 1.5em;
      height: 1.5em;
      padding: 10px;
}

.reqsel {
    width: '350px';
}
/*CHECKBOX STYLING*/        
input[type='checkbox'] {
    -ms-transform: scale(1.5);      /* Internet Explorer */
    -moz-transform: scale(1.5);     /* Mozilla Firefox */
    -webkit-transform: scale(1.5);  /* Safari and Chrome */
    -o-transform: scale(1.5);       /* Opera */
    padding: 10px;
}